.gallery-grid {
  margin: 1em 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 250px);
  grid-gap: 1.5em;
  justify-content: center;
  align-content: center;
}

.grid-img img {
  width: 100%;
  height: 100%;
}

.grid-img {
  position: relative;
  cursor: pointer;
}

.grid-img:hover::after {
  content: "";
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

.grid-img-icon {
  top: 50%;
  left: 50%;
  z-index: 99;
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
}

.grid-img:hover .grid-img-icon {
  display: block;
}

.grid-img-icon span {
  color: #fff;
  margin: 0 0.5em;
}
