@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

div {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.profile-area {
  max-width: 940px;
  width: 100%;
  margin: 2em auto;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile-image {
  margin: 3rem;
}

.profile-picture img {
  border-radius: 50%;
}

.profile-info {
  margin-top: 2rem;
}

.profile-info-top {
  padding: 0.5em;
  display: flex;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}

.profile-info-top h1 {
  font-weight: 300;
}

.profile-info-top a.edit {
  font-weight: 700;
  text-decoration: none;
  color: #333;
  padding: 0.5em 1em;
  border: 1px solid #e4e4e4;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.profile-info-center {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
}

.profile-info-bottom {
  margin-top: 2em;
  max-width: 400px;
  margin-bottom: 1em;
}

.profile-info-bottom a {
  color: #003569;
  text-decoration: none;
}

.tabs {
  max-width: 960px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  position: relative;
}

.tabs:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 16px;
  border-top: 1px solid #e4e4e4;
}

.tab-item {
  border-top: 1px solid transparent;
  margin-top: 1em;
  padding-top: 10px;
  cursor: pointer;
}

.active {
  border-top: 1px solid #000;
  padding-top: 10px;
  z-index: 1;
}

.tb-2 {
  margin-top: 5em;
  text-align: center;
}

.tb-2 i {
  border: 2px solid #000;
  padding: 0.5em;
  border-radius: 50%;
  font-size: 2em;
}

.tb-2 h1 {
  margin-top: 3rem;
}

.tb-2 .tb-2-btn {
  margin-top: 1em;
  display: inline-block;
  border-radius: 5px;
  padding: 0.8em 1.5em;
  color: #fff;
  background: #3897f0;
  text-decoration: none;
}

.tb-3 {
  margin-top: 3em;
  font-size: 0.9em;
  color: #999;
}

.tb-4 {
  margin-top: 3em;
  font-size: 0.9em;
  color: #999;
}

@media (max-width: 480px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }

  .profile-info {
    margin-top: 0;
  }

  .profile-info-top {
    margin: 0 auto;
  }

  .profile-info-center {
    margin: 0 auto;
  }

  .profile-info-bottom {
    margin: 1em auto;
    flex-direction: column;
  }

  .tabs {
    flex-direction: column;
    text-align: center;
  }
}
